<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Sample program</string>
		<string>a sample program to start</string>
		<array>
			<array>
				<string>S</string>
				<integer>2</integer>
			</array>
			<array>
				<string>J</string>
				<integer>2</integer>
				<integer>3</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>S</string>
				<integer>1</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</array>
	</array>
	<array>
		<string>Cutland example</string>
		<string>a sample from Nigel Cutland book</string>
		<array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>2</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>S</string>
				<integer>2</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>2</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<array>
				<string>T</string>
				<integer>3</integer>
				<integer>1</integer>
			</array>
		</array>
	</array>
	<array>
		<string>f(x) = x - 1</string>
		<string>return 0 if x=0, x-1 otherwise</string>
		<array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>2</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>S</string>
				<integer>2</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>2</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>T</string>
				<integer>3</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>2</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>3</integer>
			</array>
		</array>
	</array>
	<array>
		<string>f(x) = x / 2</string>
		<string>returns x/2 if x is even, undefined otherwise</string>
		<array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>3</integer>
				<integer>6</integer>
			</array>
			<array>
				<string>S</string>
				<integer>2</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>T</string>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>2</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>3</integer>
			</array>
		</array>
	</array>
	<array>
		<string>f(x, y) = x + y</string>
		<string>a simple sum program</string>
		<array>
			<array>
				<string>J</string>
				<integer>3</integer>
				<integer>2</integer>
				<integer>5</integer>
			</array>
			<array>
				<string>S</string>
				<integer>1</integer>
			</array>
			<array>
				<string>S</string>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>2</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>3</integer>
			</array>
		</array>
	</array>
	<array>
		<string>f(x) = 1 if x = 0</string>
		<string>returns 1 if x=0, 0 otherwise</string>
		<array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<array>
				<string>J</string>
				<integer>1</integer>
				<integer>1</integer>
				<integer>4</integer>
			</array>
			<array>
				<string>S</string>
				<integer>2</integer>
			</array>
			<array>
				<string>T</string>
				<integer>2</integer>
				<integer>1</integer>
			</array>
			<array>
				<string>Z</string>
				<integer>2</integer>
			</array>
		</array>
	</array>
</array>
</plist>
